{% extends 'common/base.html' %}

{% block content %}
<main>
    <h2>{{ genre }} movies</h2>
    <div class="top-movies">
        {% for movie in movies %}
            <a href="{% url 'details-movie' movie.pk %}">
                <div class="movie">
                    <img class="poster" src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster">
                    <h3>{{ movie.title }}</h3>
                    <p>{{ movie.get_average_rating }}<i class="fa-solid fa-star"></i></p>
                </div>
            </a>
        {% empty %}
            <p class="no-content-p">No {{ genre }} movies added yet!</p>
        {% endfor %}
    </div>
</main>
{% endblock %}