@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap');

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    color: #d1a858;
}

.profile-info form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5em;
    max-width: 500px;

    input {
        width: 100%;
        font-size: 1em;
        padding: 0.1em;
    }
}

.profile-info h1 {
    font-size: 2.5em;
    padding: 0.2em 0.5em;
    margin: 0 auto;
    display: inline-block;
    color: #352727;
}

.profile-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1500px) {
    .profile-details {
        flex-direction: row;
    }
}

.edit-prof-title {
    font-size: 1.4em;
    margin: 0 auto;
    text-transform: uppercase;
    color: rgba(127, 255, 0, 0.8);
}

.points-info {
    font-size: 1.4em;
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.li-points-info {
    color: black;
}

.points-question {
    color: rgba(76, 124, 30, 0.8);
}

.points-ul {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1em;
}

.combine {
    display: flex;
    flex-direction: row;
}

.p-1 {
    padding-right: 5px;
}

.reviews {
    max-width: 70%;
}

.review {
    padding: 1em;
    font-size: 1.5em;
}

.review a {
    color: #3587c3;
}

.review a:hover {
    text-decoration: underline;
}

.review-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.display-row {
    display: flex;
    flex-direction: row;
}

.review-label {
    padding-right: 0.3em;
    display: inline;
    color: #d1a858;
}

.light-btn {
    text-transform: uppercase;
    padding: 0.4em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    transition: all .5s ease;
    color: rgb(7, 215, 238);
    border: 3px solid rgb(7, 215, 238);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.888);
}

.light-btn:hover {
    color: rgba(0, 0, 0, 0.888);
    background-color: rgb(7, 215, 238);
}

.perm-btns-div {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.suggest-btns {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.approve-btns {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}